<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Display_student_detials</h1>
        <table border="3px">
            <tr>
                <th>Student_id</th>
                <th>Student_name</th>
                <th>Student_age</th>
                <th>student_mobile</th>
                <th>Student_email</th>
            </tr>
            {% for i in SQS %}
            <tr>
                <td>{{ i.sid }}</td>
                <td>{{ i.sname }}</td>
                <td>{{ i.age }}</td>
                <td>{{ i.mobile }}</td>
                <td>{{ i.email }}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>